<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>

		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

		<!-- Assume test is the database name -->
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:3306/demo_hotels?useSSL=false<!-- ?autoReconnect=true&amp;useSSL=false -->
		</property>
		<property name="hibernate.connection.username">
			demo
		</property>
		<property name="hibernate.connection.password">
			D1e2m3o4O1E3AE!3
		</property>

		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.idle_test_period">100</property>
		<property name="hibernate.c3p0.max_size">10</property>
		<property name="hibernate.c3p0.max_statements">10</property>
		<property name="hibernate.c3p0.min_size">10</property>
		<property name="hibernate.c3p0.timeout">100</property>

		<mapping class="com.gp.vaadin.demo.hotel.Hotel"></mapping>
		<mapping class="com.gp.vaadin.demo.hotel.Category"></mapping>
		<mapping class="com.gp.vaadin.demo.hotel.PaymentMethod"></mapping> 

	</session-factory>
</hibernate-configuration>